* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
div {
  display: flex;
  justify-content: center;
}

#bg {
  height: 100%;
  width: 100%;
  background-image: url(bg.jpg);
  background-size: cover;
}

h1 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: buttermilk;
  font-weight: 100;
  font-size: 60px;
  color: #fff;
  mix-blend-mode: difference;
}
